<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVJyqiFDKTWFDnbXOTVxhRMOC69-rqCmg</string>
	<key>GCM_SENDER_ID</key>
	<string>592574480137</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.senjorams.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>senjorai-3d32d</string>
	<key>STORAGE_BUCKET</key>
	<string>senjorai-3d32d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592574480137:ios:32e172bff9322cdf691dd8</string>
</dict>
</plist>